body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image_section {
    background-image: url(../assets/Home.png);
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_text{
    text-align: center;
    color: white;
}

.image_text h1{
    font-size: 7rem;
    margin-bottom: 20px;
}

.image-btn{
    padding: 12px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #1e5fa8;
    color: white;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #174a84;
}
