body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image_section {
    background-image: url(../assets/Home.png);
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_text {
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
}


.image_text h1{
    font-size: clamp(2.5rem, 5vw, 5rem);
    margin-bottom: 20px;
}

.image-btn{
    padding: 0.8em 2em;;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #1e5fa8;
    color: white;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #174a84;
}

.main_center {
    width: 90%;
    margin: 60px auto;
}

.title {
    margin-bottom: 40px;
    font-size: 2rem;
}

.centers {
    display: flex;
    gap: 40px;
}

.center {
    flex: 1;
}

.hospital {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}


#map {
    width: 100%;
    height: 500px;
    border-radius: 12px;
}

.map_section {
    width: 90%;
    margin: 80px auto;
    text-align: center;
}
