<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CanaryMed</title>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <footer>
        <div class="footer_top">
            <div class="social_icons">
                <a href="#"><img src="imagen.pnj"></a>
                <a href="#"><img src="imagen.pnj"></a>
                <a href="#"><img src="imagen.png"></a>
            </div>
        </div>

        <div class="first_line_fo">
            <h1>LOR</h1>
            <div class="nav-sections">
                <!-- Sección 1 -->
                <div class="seccion1">
                    <h3>LOREM</h3>
                    <nav>
                        <ul>
                            <li><a href="#">Lorem</a></li>
                            <li><a href="#">Lorem</a></li>
                            <li><a href="#">Lorem</a></li>
                        </ul>
                    </nav>
                </div>

                <!-- Sección 2 -->
                <div class="seccion2">
                    <h3>LOREM</h3>
                    <nav>
                        <ul>
                            <li><a href="#">Lorem</a></li>
                            <li><a href="#">Lorem</a></li>
                            <li><a href="#">Lorem</a></li>
                        </ul>
                    </nav>
                </div>

                <!-- Sección 3 -->
                <div class="seccion2">
                    <h3>LOREM</h3>
                    <nav>
                        <ul>
                            <li><a href="#">Lorem</a></li>
                            <li><a href="#">Lorem</a></li>
                            <li><a href="#">Lorem</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </footer>

</body>
</html>