<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CanaryMed</title>
    <link rel="stylesheet" href="../css/header.css">
</head>

<body>
<header>
    <!-- header -->
    <div class="zero_line">
        <input type="button" value="Idioma" class="idioma">

        <div class="dropdown_language">
            <a href="#">Español</a>
            <a href="#">Inglés</a>
            <a href="#">Francés</a>
        </div>
    </div>

    <div class="first_line">
        <h1>CanaryMed</h1>
        <div class="center_group">
            <input type="text" placeholder="Centro/Especialidad" class="search-bar">
            <button class="filter-btn">Filtrar</button>
        </div>
        <button class="btn_user">
            <img src="usuario.png" alt="X" class="usuario">
        </button>
    </div>


    <div class="second_line">
        <nav>
            <ul>
                <li><a href="lorem">Lorem</a></li>
                <li><a href="Lorem">Lorem</a></li>
                <li><a href="Lorem">Lorem</a></li>
                <li><a href="Lorem">Lorem</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>