<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CanaryMed</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<main class="image_section">
    <div class="image_text">
        <h1>Encuentra tu centro médico ideal</h1>
        <button class="image-btn">Ver Centros</button>
    </div>
</main>
<main class="main_center">
    <h2 class="title">Los principales centros:</h2>

    <div class="centers">

        <div class="center">
            <img src="../assets/Perpetuo_socorro.jpg" class="hospital">
            <h3>Hospital Perpetuo Socorro</h3>
            <p>Un gran hospital.</p>
        </div>

        <div class="center">
            <img src="../assets/San_jose.jpg" class="hospital">
            <h3>Hospital San José</h3>
            <p>Centro médico con atención especializada.</p>
        </div>
    </div>
</main>

<main class="main_center">
    <div class="centers">

        <div class="center">
            <img src="../assets/San_roque.webp" class="hospital">
            <h3>Hospital San Roque</h3>
            <p>Un gran hospital.</p>
        </div>

        <div class="center">
            <img src="../assets/Vithas.webp" class="hospital">
            <h3>Hospital Vithas</h3>
            <p>Centro médico con atención especializada.</p>
        </div>
    </div>
</main>

</body>